tr{
width:500px;
}


h1
    text-align: center;
}

body{
    text-align: center;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

.columnOfCards
{
    border: 1px solid black;
}

td{
width:100px;
height:20px;
text-align:center;
}

.title{
font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}